.error { color:#A00000; background-color:#fff8f8; }
.subtitle { color:green; background-color: #F0FFF0; font-weight:bold; text-align: left; margin: auto; width: 100%; border: 1px solid green; padding: 10px;}

.ANN-Label { color:#808080; background-color:#f8f8f8; }

.NER-Neural-PER { color:#000; background-color:#f9d9ee; padding:1px; }
.NER-Neural-LOC{ color:#000; background-color:#c1ecd7; padding:1px; }
.NER-Neural-ORG{ color:#000; background-color:#c0c4f1; padding:1px; }
.NER-Neural-MISC{ color:#000; background-color:#e7ebec; padding:1px; }
.NER-Neural-GPE{ color:#000; background-color:#b8e3f1; padding:1px; }
.NER-Neural-NORP { color:#000; background-color:#e3c3f3; padding:1px; }
.NER-Neural-ORDINAL{ color:#000; background-color:#e9f9d9; padding:1px; }
.NER-Neural-DATE{ color:#000; background-color:#f9d9e9; padding:1px; }
.NER-Neural-LAW{ color:#000; background-color:#d9e9d9; padding:1px; }
.NER-Neural-EVENT{ color:#000; background-color:#d9d9e9; padding:1px; }
.NER-Neural-CARDINAL{ color:#000; background-color:#e9d9e9; padding:1px; }
.NER-Neural-QUANTITY{ color:#000; background-color:#eab6b6; padding:1px; }
.NER-Neural-MONEY{ color:#000; background-color:#dadab5; padding:1px; }
.NER-Neural-WORK_OF_ART{ color:#000; background-color:#c2e4ef; padding:1px; }
.NER-Neural-PRODUCT{ color:#000; background-color:#c9efc2; padding:1px; }
.NER-Neural-LANGUAGE{ color:#000; background-color:#bdecd9; padding:1px; }
.NER-Neural-PERCENT{ color:#000; background-color:#ecbdd9; padding:1px; }
.NER-Neural-TIME{ color:#000; background-color:#bda7f3; padding:1px; }
.NER-Neural-FAC{ color:#000; background-color:#f3c3a9; padding:1px; }


.NER-CogComp-PER { color:#000; background-color:#f9d9ee; padding:1px; }
.NER-CogComp-LOC{ color:#000; background-color:#c1ecd7; padding:1px; }
.NER-CogComp-ORG{ color:#000; background-color:#c0c4f1; padding:1px; }
.NER-CogComp-MISC{ color:#000; background-color:#e7ebec; padding:1px; }
.NER-CogComp-GPE{ color:#000; background-color:#b8e3f1; padding:1px; }
.NER-CogComp-NORP { color:#000; background-color:#e3c3f3; padding:1px; }
.NER-CogComp-ORDINAL{ color:#000; background-color:#e3f3c3; padding:1px; }
.NER-CogComp-DATE{ color:#000; background-color:#f3c3e3; padding:1px; }
.NER-CogComp-LAW{ color:#000; background-color:#c3e3c3; padding:1px; }
.NER-CogComp-EVENT{ color:#000; background-color:#c3c3e3; padding:1px; }
.NER-CogComp-CARDINAL{ color:#000; background-color:#e3c3e3; padding:1px; }
.NER-CogComp-QUANTITY{ color:#000; background-color:#eab6b6; padding:1px; }
.NER-CogComp-MONEY{ color:#000; background-color:#dadab5; padding:1px; }
.NER-CogComp-WORK_OF_ART{ color:#000; background-color:#c2e4ef; padding:1px; }
.NER-CogComp-PRODUCT{ color:#000; background-color:#c9efc2; padding:1px; }
.NER-CogComp-LANGUAGE{ color:#000; background-color:#bdecd9; padding:1px; }
.NER-CogComp-PERCENT{ color:#000; background-color:#ecbdd9; padding:1px; }
.NER-CogComp-TIME{ color:#000; background-color:#bda7f3; padding:1px; }
.NER-CogComp-FAC{ color:#000; background-color:#f3c3a9; padding:1px; }


.NER-Neural-ABS{ color:#000; background-color:#e6bfaa; padding:1px; } 
/* Abstract, non-tangible artifacts such as software */
.NER-Neural-AML{ color:#000; background-color:#d8aae6; padding:1px; } 
/* Animal, a non-human living organism which feeds on organic matter */
.NER-Neural-BAL{ color:#000; background-color:#aabde6; padding:1px; } 
/* A ballot for an election */
.NER-Neural-BOD{ color:#000; background-color:#c2e6aa; padding:1px; } 
/* An identifiable, living part of an human's or animal's body, such as a eye, ear, neck, leg, etc. */
.NER-Neural-COM{ color:#000; background-color:#aadae6; padding:1px; } 
/* A tangible product or article of trade */
/* FAC A functional, primarily man-made structure
   GPE Geopolitical entities such as countries, states, cities, etc. 
*/
.NER-Neural-INF{ color:#000; background-color:#e6aad2; padding:1px; } 
/* An information object */
/* LAW Law
   LOC Geopolitical entities such as bodies of wate etc. 
*/
.NER-Neural-MHI{ color:#000; background-color:#e6aaaa; padding:1px; } 
/* Any medical condition or health issue */
.NER-Neural-MON{ color:#000; background-color:#dde4a1; padding:1px; } 
/* A monetary payment */
.NER-Neural-NAT{ color:#000; background-color:#dde4a1; padding:1px; } 
/* Valuable materials or substances */
/* ORG Corporations, agencies etc.
   PER Person entities are limited to humans
 */
.NER-Neural-PLA{ color:#000; background-color:#a3e4a1; padding:1px; } 
/* Plants/flora as well as edible fungi such as mushrooms */
.NER-Neural-PTH{ color:#000; background-color:#a1d7e4; padding:1px; } 
/* An infectious microorganism or agent */
.NER-Neural-RES{ color:#000; background-color:#a8a1e4; padding:1px; } 
/* The results of a voting event */
.NER-Neural-SEN{ color:#000; background-color:#a8a1e4; padding:1px; } 
/* The judicial or court sentence in a Justice event */
.NER-Neural-SID{ color:#000; background-color:#d9a1e4; padding:1px; } 
/* The different sides of a conflict */
.NER-Neural-TTL{ color:#000; background-color:#a1b6e4; padding:1px; } 
/* A person’s title or job role */
.NER-Neural-VAL{ color:#000; background-color:#a1e0e4; padding:1px; } 
/* A numerical value or non-numerical value */
.NER-Neural-VEH{ color:#000; background-color:#f0aecf; padding:1px; } 
/* A physical device primarily designed to move an object from one location to another */
.NER-Neural-WEA{ color:#000; background-color:#f0aecf; padding:1px; } 
/* A physical device that is primarily used as an instrument for physically harming or destroying entities */


